/* Footer */
.p{
  margin-top: 10px;
}
.footer {
  background: #8a6642;
  color: white;
  padding: 50px 20px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer Col */
.footer-col h3,
.footer-col h4 {
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-col p {
  color: #e0e0e0;
  margin-bottom: 15px;

}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #e0e0e0;
}

.footer-col a {
  color: #f5d179;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col a:hover {
  text-decoration: underline;
}

/* Social Icons */
.social-icons a {
  margin-right: 10px;
  font-size: 1.2rem;
}

.social-icons a:hover {
  text-decoration: none;
}

.social-icons a:hover {
  text-decoration: none;
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-bottom a {
  color: #f5d179;
}


.location {
  font-size: 0.9rem;
  color: #777;
}
.logo-icon {
    background-color: #eacb74;
    font-weight: bold;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    background-color: #eacb74;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-icon img {
    width: 60px;   /* adjust size */
    height: auto;
    border-radius: 50%; /* make circular if needed */
    margin-right: 10px;
}
.logo-text h1 {
    font-size: 20px;
    margin: 0;
    color: #8b6c4a;
}

.logo-text span {
    font-size: 12px;
    color: #b29b85;
}